<!-- Created By Sandeep 1/4/2016 -->
{{#pagetitle 'page'}}
    <title>Nodebeats | Open Source CMS | MEAN STACK</title>
{{/pagetitle}}
<header>
    <div class="header-content">
        <div class="header-content-inner">
            {{{data.bannerHtml}}}
        </div>
    </div>
</header>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                {{{data.aboutHtml}}}
            </div>
        </div>
    </div>
</section>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box purple">
                    <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
                    <h3>Next Best CMS for Node.JS (MEAN)</h3>
                    <p class="text-muted">Our modules are updated regularly so they don't break.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box sky">
                    <i class="fa fa-4x sky fa-cloud-upload text-primary sr-icons"></i>
                    <h3>Ready to Ship</h3>
                    <p class="text-muted">You can use this modules as is, or you can make changes!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box green">
                    <i class="fa fa-4x green fa-calendar-check-o text-primary sr-icons"></i>
                    <h3>Up to Date</h3>
                    <p class="text-muted">We update dependencies to keep things fresh.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box red">
                    <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                    <h3>Made with Love</h3>
                    <p class="text-muted">You have to make your websites with love these days!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="no-padding" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Technology Stacks </h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutter popup-gallery">
            {{>technology-stack stacks=data.techStack}}
        </div>
    </div>
</section>

<aside class="bg-dark">
    <div class="container text-center">
        {{{data.downloadHtml}}}
    </div>
</aside>


{{>team team=data.team teamHtml=data.teamHtml}}
<section id="contact">
    <div class="container">
        <div class="row">
            {{{data.contactHtml}}}
        </div>
    </div>

</section>

