<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Email Service Settings
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i> <a [routerLink]="['/dashboard']">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-cogs"></i> Email Service Settings
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->

<div class="row form-outer" fadeInDirective>
    <div class="col-lg-12">
        <alert [(displayed)]="objAlert.show" [type]="objAlert.type" [closeButton]="objAlert.closeButton">
            <strong>{{objAlert.title}}!</strong> {{objAlert.message}}
        </alert>
    </div>
    <div class="col-lg-12 form-wrapper">
        <form role="form" novalidate [formGroup]="emailServiceForm" (ngSubmit)="saveEmailService()">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Service Provider Type</label>
                    <select [(ngModel)]="objEmailService.serviceProviderType" class="form-control"
                            formControlName="serviceProviderType">
                        <option *ngFor="let provider of emailServiceProvider"
                                [value]="provider">
                            {{provider}}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Host</label>
                    <input class="form-control" type="text" formControlName="host" [(ngModel)]="objEmailService.host"
                           name="host"
                           placeholder="Enter Host">

                </div>
                <div class="form-group">
                    <label>Port</label>
                    <input class="form-control" type="text" formControlName="port" [(ngModel)]="objEmailService.port"
                           name="port"
                           placeholder="Enter Port">
                    <control-messages [isSubmitted]="isSubmitted"
                                      [control]="emailServiceForm.controls['port']"></control-messages>

                </div>
                <div class="form-group">
                    <label>
                        <md-checkbox [checked]="objEmailService.secure" formControlName="secure"
                                     [(ngModel)]="objEmailService.secure">
                            Secure
                        </md-checkbox>
                    </label>
                </div>

                <div class="form-group">
                    <label>UserName</label>
                    <input class="form-control" type="text" [(ngModel)]="objEmailService.authUserName"
                           formControlName="authUserName"
                           placeholder="Enter UserName">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input class="form-control" type="text" formControlName="authPassword"
                           placeholder="Enter Password" [(ngModel)]="objEmailService.authPassword">

                </div>
                <div class="form-group">
                    <label>
                        <md-checkbox [checked]="objEmailService.pool" formControlName="pool"
                                     [(ngModel)]="objEmailService.pool">
                            Pool
                        </md-checkbox>
                    </label>
                </div>

            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>API KEY</label>
                    <input class="form-control" type="text" formControlName="api_Key"
                           [(ngModel)]="objEmailService.api_Key"
                           placeholder="Enter Api Key">
                </div>
                <div class="form-group">
                    <label>API Secret</label>
                    <input class="form-control" type="text" formControlName="api_Secret"
                           [(ngModel)]="objEmailService.api_Secret"
                           placeholder="Enter API Secret">


                </div>
                <div class="form-group">
                    <label>API User </label>
                    <input class="form-control" type="text" formControlName="api_User"
                           [(ngModel)]="objEmailService.api_User"
                           placeholder="Enter API User">
                </div>

                <div class="form-group">
                    <label>Domain </label>
                    <input class="form-control" type="text" formControlName="domain"
                           [(ngModel)]="objEmailService.domain"
                           placeholder="Enter domain">

                </div>
                <div class="form-group">
                    <label>Rate Limit </label>
                    <input class="form-control" formControlName="rateLimit" type="text"
                           [(ngModel)]="objEmailService.rateLimit"
                           placeholder="Enter rate limit">
                    <control-messages [isSubmitted]="isSubmitted"
                                      [control]="emailServiceForm.controls['rateLimit']"></control-messages>

                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-12">
                <button type="submit" class="btn btn-primary" processing><i class="fa fa-floppy-o"></i> Save</button>
            </div>
        </form>
    </div>

</div>

