<section class="global-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2>{{title}}</h2>
                    <div class="portfolio-meta">
                        <span>{{author}}</span>|
                        <span>{{ date date}}</span>|
                        <span> Page Views:
                            {{views}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

