<section class="global-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2>{{formatHeaderUrl headerTitle}}</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="/">
                                <i class="ion-ios-home"></i>
                                Home
                            </a>
                        </li>
                        <li class="active">{{formatHeaderUrl headerTitle}}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>