<div class="row form-outer" fadeInDirective>
    <div class="col-lg-12 form-wrapper">
        <form role="form" novalidate [formGroup]="apiAccessForm" (ngSubmit)="saveApiAccess()">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>API Route (Prefix)</label>
                    <input type="text" class="form-control" [(ngModel)]="objApiAccess.routeApi"
                           placeholder="Enter Api Route. eg: /api/news"
                           [formControl]="apiAccessForm.controls['routeApi']">
                    <control-messages [isSubmitted]="isSubmitted"
                                      [control]="apiAccessForm.controls['routeApi']"></control-messages>
                </div>

                <div class="form-group">
                    <label>Roles</label>

                    <p-multiSelect defaultLabel="Select Roles" [options]="objRoleList" class="form-control"
                                   [formControl]="apiAccessForm.controls['roleName']"
                                   [ngModel]="objSelectedRole"></p-multiSelect>
                    <control-messages [isSubmitted]="isSubmitted"
                                      [control]="apiAccessForm.controls['roleName']"></control-messages>

                </div>
                <div class="form-group">
                    <label>
                        <md-checkbox [checked]="objApiAccess.active" formControlName="active"
                                     [(ngModel)]="objApiAccess.active">
                            Active
                        </md-checkbox>
                    </label>
                </div>
                <button type="submit" class="btn btn-primary" processing><i class="fa fa-floppy-o"></i>
                    Save
                </button>
                <button type="button" (click)="triggerCancelForm()" class="btn  btn-danger"><i
                        class="fa fa-times"></i> Cancel
                </button>

            </div>

        </form>

    </div>
</div>


