/node_modules/*
/public/lib/*
/admin/node_modules/*
/admin/dist
/public/sw.js
/idea/*
.idea
/atlassian-ide-plugin.xml
gulpfile.js
logs/*
#/app-dist/
*.tar.gz
#public/uploads/*
public/assets/*
#/lib/configs/database.config.js
#/lib/configs/redis.config.js

