<div class="col-md-12">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div id="img-detail-carousel" class="owl-carousel owl-theme">
            {{#checkAndBindList newsDetailObj.image}}
                <div class="item">
                    <img class="img-responsive" alt="{{imageAltText}}"
                         src="{{cloudinaryUrl imageName option='{"width":"940"}'}}">
                </div>
            {{/checkAndBindList}}
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="col-md-12">
    <div class="post-content">
        <div>
            {{{newsDetailObj.newsDescription}}}
        </div>
    </div>

    <div class="clarifix"></div>
    <div id="disqus_thread"></div>
</div>