<!DOCTYPE html>
<html lang="">
<head>
    <!-- base url -->
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Nodebeats">
    <meta name="author" content="Nodebeats">
    <!--<title><%= webpackConfig.metadata.title %></title>-->
    <title>Nodebeats Admin Panel</title>
    <!-- Base CSS -->
    <!--Bundled Css From Webpack-->
    <link rel="stylesheet" type="text/css" href="dist/admin/style.css">
    <!--End Bundled Css From Webpack-->
    <!--End of Base css-->
    <!--Base JS -->
    <script type="text/javascript" src="scripts/primeui/primeui-ng-all.min.js"></script>
    <script type="text/javascript" src="plugins/tinymce/tinymce.js"></script>
    <script type="text/javascript" src="scripts/cloudinary-jquery/cloudinary-jquery.js"></script>
    <!--&lt;!&ndash;End of Base Css&ndash;&gt;-->

    <!--<base href="<%= webpackConfig.metadata.baseUrl %>">-->

</head>

<body>

<app>
    <!-- Preloader -->
    <div class="loader">
    </div>
    <!-- End Preloader -->
</app>
<script type="text/javascript" src="dist/admin/polyfills.bundle.js"></script>
<script type="text/javascript" src="dist/admin/vendor.bundle.js"></script>
<script type="text/javascript" src="dist/admin/main.bundle.js"></script>
</body>

<!--Verifying Authentication before loading the main bundle-->
<script src="dist/admin/inlineScripts.js" type="text/javascript"></script>

</html>
