<div class="login-page">
    <div *ngIf="!isValidLogin" fadeInDirective class="row">
        <div class="col-lg-4 col-lg-offset-4" fadeInDirective *ngIf="!tfaEnabled">
            <img src="img/nodebeats_logo.png" title="nodebeats logo" alt="nodebeats logo" width="150px" class="logo"/>
            <h1 class="login-title">Forgot your password ?</h1>
            <p>Enter the Information below to recover the password</p>
            <div [@slideMsg]="slide" class="alert {{alertClass}} auth-message"
                 role="alert">{{objResponse}}
            </div>
            <form *ngIf="!isValidUser" autocomplete="off" role="form" novalidate [formGroup]="forgotPasswordForm"
                  (ngSubmit)=" onSubmit()">
                <div class="form-group">
                    <label class="sr-only">Email</label>
                    <input type="text" placeholder="Valid email..."
                           class="form-username form-control input-underline input-lg"
                           [formControl]="email">
                    <span class="error-msg" *ngIf="!email.valid && (email.dirty||isSubmitted)">
                        *
                    </span>
                </div>
                <div class="form-group">
                    <label class="sr-only">Security Question</label>
                    <select role="listbox" title="select question" class="form-control input-underline input-lg"
                            [formControl]="securityQuestion"
                            [(ngModel)]="objForgotPassword.securityQuestion">
                        <option value="">Select Security Question</option>
                        <option *ngFor="let question of questionlist" [value]="question">{{question}}</option>
                    </select>
                    <span class="error-msg" *ngIf="!securityQuestion.valid && (securityQuestion.dirty||isSubmitted)">
                        *
                    </span>
                </div>

                <div class="form-group">
                    <label class="sr-only">Security Answer</label>
                    <input type="text" placeholder="Provide your security answer..."
                           class="form-username form-control input-underline input-lg"
                           [formControl]="securityAnswer">
                    <span class="error-msg" *ngIf="!securityAnswer.valid && (securityAnswer.dirty||isSubmitted)">
                        *
                    </span>
                </div>

                <button role="button" processing type="submit" class="btn rounded-btn login-btn">Recover</button>
            </form>
            <br/>
            <div class="link">
                <a [routerLink]="['/login']" title="Login Page"> Login Page</a> |
                <a href="/" title="Home Page"> Home Page</a>
            </div>
        </div>
    </div>
</div>