<div id="nb-wrapper">
  <div class="nb-welcome-page">
    <mat-card class="form-card text-center">
      <mat-card-content>
        <div class="text-center">
          <img src="assets/img/nodebeats_logo.png" title="nodebeats logo" alt="nodebeats logo" width="150px" class="logo" />
        </div>
        <div class="card-body">
          <div [@slideMsg]="slide" class="alert {{alertClass}} auth-message" role="alert" *ngIf="objResponse">{{objResponse}}</div>
          <form role="form" class="generic-form" novalidate [formGroup]="forgotPasswordForm" (ngSubmit)=" onSubmit()">
            <h1 class="text-center">Forgot your password ?</h1>
            <p>Enter the Information below to recover the password</p>
            <mat-form-field class="full-width mb-3">
              <input type="email" formControlName="email" matInput placeholder="Email">
              <mat-error *ngIf="!email.valid && (email.dirty||isSubmitted)">
                Valid Email is
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-select class="full-width" placeholder="Select Security Question" formControlName="securityQuestion">
                <mat-option value="">Select Security Question</mat-option>
                <mat-option *ngFor="let question of questionlist" [value]="question">
                   {{question}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="!securityQuestion.valid && (securityQuestion.dirty||isSubmitted)">
                Security Question is
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
              <input matInput placeholder="Provide your Security Answer" formControlName="securityAnswer">
              <mat-error *ngIf="!securityAnswer.valid && (securityAnswer.dirty||isSubmitted)">
                Security Answer is
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <div class="btn-wrap">
              <button type="submit" processing class="nb-btn-blue full-width" mat-raised-button>Recover</button>
            </div>
            <div class="link">
              <a [routerLink]="['/login']" title="Login Page"> Login Page</a> |
              <a routerLink="/" title="Home Page"> Home Page</a>
            </div>
          </form>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
