{{#pagetitle 'page'}}
    <title>Link Expired | Nodebeats</title>
{{/pagetitle}}

<div class="main expired-link">
    <h1><i class="fa fa-frown-o"></i></h1>
    <h2>The Link you have clicked is expired. </h2>
    <p>We have sent you a new email containing confirmation link.</p>
    <p>        Please check you email and click on the confirmation link again.
        The expiration date is 7 days from now on</p>
    <div class="more_w3ls">
        <a href="/">Go To Home</a>
    </div>
</div>
