{{#pagetitle 'page'}}
    <title>Image Gallery | {{data.commonData.organizationInfoData.orgName}}</title>
{{/pagetitle}}

{{>shared/global-header headerTitle=activePageMenu}}

<section id="image-gallery">
    <div class="container">
        {{>image-gallery/image-gallery imageGalleries=data.imageGalleryData}}
    </div>
    <div class="clarifix"></div>
    <div class="theme_reference">
        <strong>Theme by <a href="http://tympanus.net/codrops/author/crnacura/" target="_blank">Mary Lou</a></strong>
    </div>
</section>

{{#pagetitle 'pagescripts'}}
    <script type="text/javascript">
        var cloudinaryCloudName = '{{data.cloudinaryCloudName}}';
    </script>
    <script src="js/image-gallery.js" type="text/javascript"></script>
{{/pagetitle}}
