{{#pagetitle 'page'}}
    <title>Page Not Found | Nodebeats</title>
{{/pagetitle}}

<div class="main page-not-found">
    <h1>404</h1>
    <h2>ooops !!!! Something goes wrong</h2>
    <div class="more_w3ls">
        <a href="/">Go To Home</a>
    </div>
</div>
