{{#pagetitle 'page'}}
    <title>Password Reset | Nodebeats</title>
{{/pagetitle}}
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.validate.min.js"></script>
<script type="text/javascript" src="js/password-reset.js"></script>
<div class="container main">
    <input type="hidden" id="redirectUrl" value="{{redirectUrl}}">
    <div class="row text-center">
        <img src="/images/nodebeats_logo.png" title="nodebeats logo" width="150px" class="nodebeats-logo"/>

        <div class="col-sm-12">
            <h2>Change Password</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <p class="text-center">* Your password cannot contain your username.</p>

            <div id="message" style="visibility:hidden;" class="alert alert-danger auth-message"
                 role="alert">
            </div>
            <form method="post" id="passwordForm" action="/api/change-password/confirm/dfd{{userId}}">
                <input type="hidden" id="accessToken" value="{{accessToken}}"/>
                <div class="form-group">

                    <input type="password" class="input-lg form-control" name="password1" id="password1"
                           placeholder="New Password" autocomplete="off">
                </div>
                <div class="form-group">
                    <input type="password" class="input-lg form-control" name="password2" id="password2"
                           placeholder="Repeat Password" autocomplete="off">
                </div>
                <button type="submit" id="btnSubmit" class="col-xs-12 btn btn-primary btn-load btn-lg"
                        data-loading-text="Changing Password...">Change Password
                </button>
            </form>
        </div><!--/col-sm-6-->
    </div><!--/row-->
</div>
