{{#pagetitle 'page'}}
    <title>Internal Server Error | Nodebeats</title>
{{/pagetitle}}
<div class="main page-not-found">
    <h1>500</h1>
    <h2>ooops !!!! Internal Server Error. </h2>
    <br>
    <p>Please contact site administrator if the problem persists.</p>
    <div class="more_w3ls">
        <a href="/">Go To Home</a>
    </div>
</div>
