
{{#pagetitle 'page'}}
    <title>Support Nodebeats | Open Source CMS | MEAN STACK</title>
{{/pagetitle}}


{{#pagetitle 'metatags'}}
    <meta name="description" content="Nodebeats, an Open Source Content Management System built using MEAN Framework">
    <meta name="author" content="Nodebeats">
    <meta name="keywords" content="Nodebeats,CMS,Open Source,Node.js, The Only Real Dev Language, Angular.js, Angular2, Free, Security, Nodebeats Documentation, handlebars, template engine, tutorial, node.js tutorial">
{{/pagetitle}}

<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
<div class='preloader'>
    <div class='loaded'>&nbsp;</div>
</div>
<div class="culmn">
    {{>donation-plea}}
    {{>work-quote}}
</div>
<!-- START SCROLL TO TOP  -->
<div class="scrollup">
    <a href="#"><i class="fa fa-chevron-up"></i></a>
</div>

{{#pagetitle 'pagescripts'}}
    {{>otherpage-scripts}}
{{/pagetitle}}