<div class="row form-outer" fadeInDirective>
    <div class="col-lg-12 form-wrapper">
        <h2 class="page-header">
            Setting
        </h2>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Enable Two Factor Authentication</label>
                <mat-slide-toggle #tfaEnable (change)="toggleEnable($event.checked)"></mat-slide-toggle>
            </div>
            <button type="button" *ngIf="!hideCancel" (click)="triggerCancelForm()" class="btn btn-danger">Cancel</button>
        </div>
        <div class="col-lg-6">

            <form role="form" fadeInDirective *ngIf="tfaEnable.checked && !tfaEnabled" novalidate
                  [formGroup]="userSettingForm"
                  (ngSubmit)="verifyTotpToken()">

                <div class="form-group">
                    <label>Scan with any authenticator App</label>

                    <svg height="210" width="400">
                        <path [attr.d]="qrCodePath" style="transform:scale(3.5)"></path>
                    </svg>

                </div>
                <div class="form-group">
                    <label>Enter the token from authenticator App</label>
                    <input type="text" class="form-control" placeholder="Enter the token"
                           [formControl]="userSettingForm.controls['token']"/>
                    <control-messages [isSubmitted]="isSubmitted"
                                      [control]="userSettingForm.controls['token']"></control-messages>

                </div>
                <button type="submit" class="btn btn-primary">Verify</button>
            </form>
        </div>

    </div>
</div>
