<h1 class="nb-heading-one mr-auto">
  Change Password</h1>

<mat-card class="material-card">
  <form role="form" novalidate [formGroup]="userPasswordForm" (ngSubmit)="updatePassword()">

    <div class="mb-3">
      <mat-form-field class="material-input-full">
        <input matInput type="password" pPassword id="inputPassword" [(ngModel)]="objUser.password" name="password" placeholder="Enter Password"
          [formControl]="userPasswordForm.controls['password']">
        <mat-error>
          <control-messages [isSubmitted]="isSubmitted" [control]="userPasswordForm.controls['password']"></control-messages>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="mb-3">
      <mat-form-field class="material-input-full">
        <input matInput type="password" placeholder="Re-enter Password" [formControl]="userPasswordForm.controls['confirmPassword']"
          #confirmPassword="ngForm">
        <mat-error>
          <control-messages [isSubmitted]="isSubmitted" [control]="userPasswordForm.controls['confirmPassword']"></control-messages>
        </mat-error>

        <div class="error-msg" *ngIf="userPasswordForm.hasError('mismatchedPasswords')&& confirmPassword.dirty">
          Passwords a do not match.
        </div>
      </mat-form-field>
    </div>

    <div class="mb-3">
      <button type="submit" mat-raised-button color="primary">
        Save</button>
      <button type="button" *ngIf="!hideCancel" (click)="triggerCancelForm()" mat-raised-button color="warn">Cancel
      </button>
    </div>

  </form>
</mat-card>
