<!-- logo -->
<div class="navbar-brand">
    <a href="/">
        <img src="{{cloudinaryUrl orgInfo.logoImageName option='{"width":"150"}'}}"
             alt="{{orgInfo.orgName}}">
    </a>
</div>
<!-- /logo -->