<!-- main menu -->
<nav class="collapse navbar-collapse navbar-right" role="navigation">
    <div class="main-menu">
        <ul class="nav navbar-nav navbar-right">
            {{#each navs}}
                <li>
                    <a href="{{navUrl}}">{{nav}}</a>
                </li>
            {{/each}}
        </ul>
    </div>
</nav>
<!-- /main nav -->