<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Google Map Settings
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i> <a href="//admin">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-map-o"></i> Google Map Settings
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->

<div class="row form-outer" fadeInDirective>

    <div class="col-lg-12">
        <alert [(displayed)]="objAlert.show" [type]="objAlert.type" [closeButton]="objAlert.closeButton">
            <strong>{{objAlert.title}}!</strong> {{objAlert.message}}
        </alert>
    </div>
    <div class="col-lg-12 form-wrapper">
        <form role="form" novalidate [formGroup]="googleMapForm" (ngSubmit)="saveMapSettings()">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Google Map API Key</label>
                    <input class="form-control" type="text" formControlName="googleMapsApiKey"
                           [(ngModel)]="objMap.googleMapsApiKey"
                           placeholder="Enter Api Key">
                </div>
                <div class="form-group">
                    <label>Place Name</label>
                    <input class="form-control" type="text"
                           [(ngModel)]="objMap.placeName" [formControl]="googleMapForm.controls['placeName']"

                           placeholder="Enter Place Name">
                    <control-messages [isSubmitted]="isSubmitted"
                                      [control]="googleMapForm.controls['placeName']"></control-messages>

                </div>
                <div class="form-group">
                    <label>Longitude</label>
                    <input class="form-control" type="number"
                           [(ngModel)]="objMap.longitude" [formControl]="googleMapForm.controls['longitude']"

                           placeholder="Enter Longitude">
                    <control-messages [isSubmitted]="isSubmitted"
                                      [control]="googleMapForm.controls['longitude']"></control-messages>

                </div>
                <div class="form-group">
                    <label>Latitude</label>
                    <input class="form-control" type="number"
                           [(ngModel)]="objMap.latitude" [formControl]="googleMapForm.controls['latitude']"
                           placeholder="Enter Latitude">
                    <control-messages [isSubmitted]="isSubmitted"
                                      [control]="googleMapForm.controls['latitude']"></control-messages>

                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <label>Zoom</label>
                    <input class="form-control" type="number" formControlName="zoom"
                           [(ngModel)]="objMap.zoom" min="1" max="20"
                           placeholder="Enter Zoom Level">
                    <control-messages [isSubmitted]="isSubmitted"
                                      [control]="googleMapForm.controls['zoom']"></control-messages>

                </div>
                <div class="form-group">
                    <label>Map Type</label>
                    <select [(ngModel)]="objMap.mapType" class="form-control"
                            formControlName="mapType">
                        <option *ngFor="let type of mapTypes" [value]="type">
                            {{type}}
                        </option>
                    </select>

                </div>


                <div class="form-group">
                    <label>Marker Title</label>
                    <input class="form-control" type="text"
                           [(ngModel)]="objMap.markerTitle"
                           formControlName="markerTitle"
                           placeholder="Enter Marker Title">
                </div>

                <div class="checkbox">
                    <label>
                        <md-checkbox [checked]="objMap.scrollWheel" formControlName="scrollWheel"
                                     [(ngModel)]="objMap.scrollWheel">
                            Scroll Wheel
                        </md-checkbox>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <md-checkbox [checked]="objMap.showMarker" formControlName="showMarker"
                                     [(ngModel)]="objMap.showMarker">
                            Show Marker
                        </md-checkbox>
                    </label>
                </div>
            </div>

            <!--<div class="col-lg-12">-->
            <!--<div class="form-group">-->
            <!--<div class="checkbox">-->
            <!--<label>-->
            <!--<input class="" type="checkbox"-->
            <!--[(ngModel)]="objMap.embedGoogleMaps"-->
            <!--name="embedMap">-->
            <!--Embed Google Maps-->
            <!--</label>-->

            <!--</div>-->
            <!--<button type="button" class="btn btn-success" (click)="switchEmbed($event)">Generate Code-->
            <!--</button>-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<label>Google Maps Embed Code </label>-->
            <!--<textarea class="form-control" name="googleMapsEmbedCode" [(ngModel)]="objMap.googleMapsEmbedCode"-->
            <!--disabled placeholder="Enter Google Maps Embed Code" rows="10">-->
            <!--</textarea>-->
            <!--</div>-->
            <!--</div>-->

            <div class="clearfix"></div>
            <div class="col-lg-12">
                <button type="submit" class="btn btn-primary" processing><i class="fa fa-floppy-o"></i>
                    Save
                </button>
            </div>
        </form>
    </div>

</div>

