<button class="btn btn-default" id="toggle-sidebar" type="button" (click)="eventCalled()">
    &#9776;
</button>
<button class="btn btn-default toggle-container" type="button" (click)="toggleContainer()">
    &#9776;
</button>
<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <div class="list-group" routerLinkActive="router-link-active">
        <a routerLinkActive="router-link-active" class="list-group-item" routerLink="./dashboard"
           [routerLinkActiveOptions]="{ exact: true }">
            <i class="fa fa-fw fa-dashboard"></i> Dashboard
        </a>
        <template ngFor let-parentMenu [ngForOf]="sidebarRoute">
            <div *ngIf="parentMenu.headerTitle" class="sidebar-dropdown">
                <accordion [closeOthers]="true" [duration]="duration">
                    <div accordion-item class="fuel-ui-accordion" #itemStyled [(open)]="lastOpen">
                        <div accordion-heading class="fuel-ui-accordion-heading fuel-ui-clickable accordian">
                            <i class="fa {{parentMenu.icon}}"></i>
                            {{parentMenu.headerTitle}}
                            <i class="pull-right fa"
                               [ngClass]="{'fa-chevron-down': itemStyled?.open, 'fa-chevron-right': !itemStyled || !itemStyled.open}"></i>
                        </div>
                        <div class="fuel-ui-accordion-body" routerLinkActive="router-link-active"
                             [routerLinkActiveOptions]="{exact: true}">
                            <a *ngFor="let menu of parentMenu.menuItem" routerLinkActive="router-link-active"
                               class="list-group-item" [routerLink]="menu.route">
                                <i class="fa fa-fw {{menu.icon}}"></i> {{menu.title}}
                            </a>
                        </div>
                    </div>
                </accordion>
            </div>
            <template [ngIf]="!parentMenu.headerTitle">
                <a *ngFor="let menu of parentMenu.menuItem" routerLinkActive="router-link-active"
                   class="list-group-item" [routerLink]="menu.route">
                    <i class="fa fa-fw {{menu.icon}}"></i> {{menu.title}}
                </a>
            </template>
        </template>

        <!--<a [routerLink]="['/admin/dashboard']" routerLinkActive="router-link-active" class="list-group-item"-->
        <!--title="Dashboard">-->
        <!--<i class="fa fa-fw fa-dashboard"></i> Dashboard-->
        <!--</a>-->
        <!--<a [routerLink]="['/admin/user-management']" routerLinkActive="router-link-active" class="list-group-item"-->
        <!--title="User">-->
        <!--<i class="fa fa-fw fa-user"></i> User-->
        <!--</a>-->
        <!--<a [routerLink]="['/admin/blog']" routerLinkActive="router-link-active" class="list-group-item" title="Blog">-->
        <!--<i class="fa fa-fw fa-newspaper-o"></i> Blog-->
        <!--</a>-->
        <!--<a [routerLink]="['/admin/contact']" title="Contact List" routerLinkActive="router-link-active"-->
        <!--class="list-group-item">-->
        <!--<i class="fa fa-fw fa-list"></i> Contact List-->
        <!--</a>-->
        <!--<a [routerLink]="['/admin/email-template']" routerLinkActive="router-link-active" class="list-group-item"-->
        <!--title="Email Template">-->
        <!--<i class="fa fa-fw fa-envelope"></i> Email Template-->
        <!--</a>-->
        <!--<a [routerLink]="['/admin/event']" routerLinkActive="router-link-active" class="list-group-item"-->
        <!--title="Event Management">-->
        <!--<i class="fa fa-fw fa-calendar"></i> Event Management-->
        <!--</a>-->
        <!--<a [routerLink]="['/admin/errorlog']" routerLinkActive="router-link-active" class="list-group-item"-->
        <!--title=" Error Log">-->
        <!--<i class="fa fa-fw fa-stack-overflow"></i> Error Log-->
        <!--</a>-->
        <!--<a [routerLink]="['/admin/html']" routerLinkActive="router-link-active" class="list-group-item"-->
        <!--title="Html Content">-->
        <!--<i class="fa fa-fw fa-html5"></i> Html Content-->
        <!--</a>-->
        <!--<a [routerLink]="['/admin/imageslider']" routerLinkActive="router-link-active" class="list-group-item"-->
        <!--title="Image Slider">-->
        <!--<i class="fa fa-fw fa-play"></i> Image Slider-->
        <!--</a>-->
        <!--<a [routerLink]="['/admin/imagegallery']" routerLinkActive="router-link-active" class="list-group-item"-->
        <!--title="Image Gallery">-->
        <!--<i class="fa fa-fw fa-picture-o"></i> Image Gallery-->
        <!--</a>-->
        <!--<a [routerLink]="['/admin/news']" routerLinkActive="router-link-active" class="list-group-item" title="News">-->
        <!--<i class="fa fa-fw fa-newspaper-o"></i> News-->
        <!--</a>-->
        <!--<a [routerLink]="['/admin/partner']" routerLinkActive="router-link-active" class="list-group-item"-->
        <!--title="Partners">-->
        <!--<i class="fa fa-fw fa-play"></i> Partners-->
        <!--</a>-->
        <!--<a [routerLink]="['/admin/testimonial']" routerLinkActive="router-link-active" class="list-group-item"-->
        <!--title="Testimonial">-->
        <!--<i class="fa fa-fw fa-commenting-o"></i> Testimonial-->
        <!--</a>-->
        <!--<a [routerLink]="['/admin/team']" routerLinkActive="router-link-active" class="list-group-item"-->
        <!--title="Team Management">-->
        <!--<i class="fa fa-fw fa-users"></i> Team Management-->
        <!--</a>-->

        <!--<div class="sidebar-dropdown">-->
        <!--<accordion [closeOthers]="true" [duration]="duration">-->
        <!--<div accordion-item class="fuel-ui-accordion" #itemStyled [(open)]="lastOpen">-->
        <!--<div accordion-heading class="fuel-ui-accordion-heading fuel-ui-clickable accordian">-->
        <!--&lt;!&ndash;<a (click)="$event.preventDefault">Settings</a>&ndash;&gt;-->
        <!--<i class="fa fa-wrench"></i>-->
        <!--Settings-->
        <!--<i class="pull-right fa"-->
        <!--[ngClass]="{'fa-chevron-down': itemStyled?.open, 'fa-chevron-right': !itemStyled || !itemStyled.open}"></i>-->
        <!--</div>-->
        <!--<div class="fuel-ui-accordion-body" routerLinkActive="router-link-active"-->
        <!--[routerLinkActiveOptions]="{exact: true}">-->


        <!--<a [routerLink]="['/admin/cloudinary']" routerLinkActive="router-link-active"-->
        <!--class="list-group-item"-->
        <!--title="Cloudinary">-->
        <!--<i class="fa fa-fw  fa-cloud"></i> Cloudinary-->
        <!--</a>-->
        <!--<a [routerLink]="['/admin/comment']" routerLinkActive="router-link-active"-->
        <!--class="list-group-item"-->
        <!--title="Comment">-->
        <!--<i class="fa fa-fw  fa-commenting-o"></i> Comment-->
        <!--</a>-->
        <!--<a [routerLink]="['/admin/analytics']" routerLinkActive="router-link-active"-->
        <!--class="list-group-item"-->
        <!--title=" Google Analytics">-->
        <!--<i class="fa fa-fw  fa-line-chart"></i> Google Analytics-->
        <!--</a>-->
        <!--<a [routerLink]="['/admin/googlemap']" routerLinkActive="router-link-active"-->
        <!--class="list-group-item"-->
        <!--title=" Google Map">-->
        <!--<i class="fa fa-fw  fa-map-o"></i> Google Map-->
        <!--</a>-->
        <!--<a [routerLink]="['/admin/email-service']" routerLinkActive="router-link-active"-->
        <!--class="list-group-item"-->
        <!--title="Email Service">-->
        <!--<i class="fa fa-fw  fa-cogs"></i> Email Service-->
        <!--</a>-->
        <!--<a [routerLink]="['/admin/organization']" routerLinkActive="router-link-active"-->
        <!--class="list-group-item"-->
        <!--title="Org. Information">-->
        <!--<i class="fa fa-fw  fa-building-o"></i> Org. Information-->
        <!--</a>-->

        <!--</div>-->
        <!--</div>-->
        <!--</accordion>-->
        <!--</div>-->
    </div>
</nav>
