<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Google Analytics Settings
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i> <a [routerLink]="['/dashboard']">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-line-char"></i> Google Analytics Settings
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->

<div class="row form-outer" fadeInDirective>
    <div class="col-lg-12">
        <alert [(displayed)]="objAlert.show" [type]="objAlert.type" [closeButton]="objAlert.closeButton">
            <strong>{{objAlert.title}}!</strong> {{objAlert.message}}
        </alert>
    </div>
    <div class="col-lg-12 form-wrapper">
        <form role="form" novalidate [formGroup]="analyticsForm" (ngSubmit)="saveAnalytics()">
            <div class="col-lg-6">
                <div class="form-group">

                    <label>Tracking ID</label>
                    <input class="form-control" type="text" [(ngModel)]="objAnalytics.trackingId"
                           placeholder="Enter Tracking ID" [formControl]="analyticsForm.controls['trackingId']">
                    <!--<textarea class="form-control" [(ngModel)]="objAnalytics.trackingCode" name="trackingCode"-->
                    <!--[formControl]="analyticsForm.controls['trackingCode']"-->
                    <!--aceholder="Enter Tracking Code" rows="15"></textarea>-->
                    <control-messages [isSubmitted]="isSubmitted"
                                      [control]="analyticsForm.controls['trackingId']"></control-messages>

                </div>

                <div class="form-group">
                    <label>View ID </label>
                    <input class="form-control" type="text" name="viewId" [(ngModel)]="objAnalytics.analyticsViewID"
                           placeholder="Enter View ID" [formControl]="analyticsForm.controls['viewId']">
                    <control-messages [isSubmitted]="isSubmitted"
                                      [control]="analyticsForm.controls['viewId']"></control-messages>

                </div>
                <div class="form-group">
                    <label>Polling Interval in Minutes (For Realtime data)</label>
                    <input class="form-control" type="text"  [(ngModel)]="objAnalytics.pollingInterval"
                           placeholder="Enter polling Interval (minutes)"
                           [formControl]="analyticsForm.controls['pollingInterval']">
                    <control-messages [isSubmitted]="isSubmitted"
                                      [control]="analyticsForm.controls['pollingInterval']"></control-messages>

                </div>

                <div class="form-group">
                    <div>Service Account Key (JSON)</div>
                    <doc-uploader [isSubmitted]="isSubmitted"
                                  [allowedExt]="allowedExt"
                                  [allowedSize]="allowedSize"
                                  [docFormControl]="docFormControl"
                                  (deleteFileEvent)="onDeleteFile($event)"
                                  [fileName]="fileName"
                                  (fileSelectedEvent)="onFileSelect($event)"></doc-uploader>

                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-12">
                <button type="submit" tabindex=-1 class=" btn btn-primary" processing><i class="fa fa-floppy-o"></i>
                    Save
                </button>
            </div>
        </form>
    </div>

</div>

