<div class="row form-outer" fadeInDirective>
    <div class="col-lg-12 form-wrapper">
        <form role="form" novalidate [formGroup]="roleForm" (ngSubmit)="saveRole()">
            <div class="col-lg-7">
                <div class="form-group">
                    <label>Role Name</label>
                    <input type="text" class="form-control" [(ngModel)]="objRole.roleName"
                           placeholder="Enter Role Name" [formControl]="roleForm.controls['roleName']">
                    <control-messages [isSubmitted]="isSubmitted"
                                      [control]="roleForm.controls['roleName']"></control-messages>
                </div>

                <fieldset class="access">
                    <legend class="access">Access Control</legend>
                    <label class="form-check-inline">
                        <i class="fa fa-check-square-o" aria-hidden="true"></i> Read
                    </label>
                    <label class="form-check-inline">
                        <md-checkbox [checked]="objRole.write" formControlName="write"
                                     [(ngModel)]="objRole.write">
                            Write
                        </md-checkbox>

                    </label>
                    <label class="form-check-inline">

                        <md-checkbox [checked]="objRole.create" formControlName="create"
                                     [(ngModel)]="objRole.create">
                            Create
                        </md-checkbox>
                    </label>
                    <label class="form-check-inline">
                        <md-checkbox [checked]="objRole.change" formControlName="change"
                                     [(ngModel)]="objRole.change">
                            Change
                        </md-checkbox>
                    </label>

                    <label class="form-check-inline">
                        <md-checkbox [checked]="objRole.delete" formControlName="delete"
                                     [(ngModel)]="objRole.delete">
                            Delete
                        </md-checkbox>
                    </label>
                </fieldset>

                <label>
                    <md-checkbox [checked]="objRole.active" formControlName="active"
                                 [(ngModel)]="objRole.active">
                        Active
                    </md-checkbox>

                </label>
                <div class="clearfix"></div>
                <button type="submit" class="btn btn-primary" processing><i class="fa fa-floppy-o"></i>
                    Save
                </button>
                <button type="button" (click)="triggerCancelForm()" class="btn  btn-danger"><i
                        class="fa fa-times"></i> Cancel
                </button>
            </div>
        </form>
    </div>
</div>

