<div id="owl-slider-images" class="{{className}}">
    {{#checkAndBindList lstSliderImages}}
        <div class="item">
            <div class="img-wrapper">
                <img src="{{cloudinaryUrl imageName option='{}'}}" class="img-responsive"
                     alt="{{imageTitle}}" />
            </div>
        </div>
    {{/checkAndBindList}}
</div>
