.navbar{
    background-color: #3c8dbc;
    color:#fff;
    padding:0;
    height: 70px;
    width: 100%;
    flex-grow: 1;
ul{
    li{
       .nav-link{
           padding: 0;
       }
       img{
        height:40px; 
        width:40px;
         border-radius:50%;
         margin:0 10px;
       }
       i{
        font-size: 24px;
        color: #fff;
        padding:16px 10px 0 10px; 
    }
        .user{
            color: #fff;
            font-size: 14px;
            line-height: 2.8;
            i{
                font-size: 12px;
                margin-left: 6px;
                padding: 0;
            }
            a{
                margin-left: 10px;
            }
            }
       
        .dropdown-menu{
            a{
                i{
                    color:#4c4c4c;
                    font-size: 14px; 
                    padding: 0;
                    margin-right: 10px;
                }
                font-size: 14px;
                    color:#4c4c4c;
            }
            top: 53px;
            border-radius: 6px;
            border: 1px solid #e5e5e5;
            border-top: 4px solid #ea9c26;
            
            .dropdown-item{
                padding: 8px 20px;
            }
        }
    }
} 
}