<button class="btn btn-default" id="toggle-sidebar" type="button" (click)="eventCalled()">
    &#9776;
</button>
<button class="btn btn-default toggle-container" type="button" (click)="toggleContainer()">
    &#9776;
</button>
<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <div class="list-group" routerLinkActive="router-link-active">
        <a routerLinkActive="router-link-active" class="list-group-item" routerLink="/dashboard"
           [routerLinkActiveOptions]="{ exact: true }">
            <i class="fa fa-fw fa-dashboard"></i> Dashboard
        </a>
        <template ngFor let-parentMenu [ngForOf]="sidebarRoute">
            <div *ngIf="parentMenu.headerTitle" class="sidebar-dropdown">
                <accordion [closeOthers]="true" [duration]="duration">
                    <div accordion-item class="fuel-ui-accordion" #itemStyled [(open)]="lastOpen">
                        <div accordion-heading class="fuel-ui-accordion-heading fuel-ui-clickable accordian">
                            <i class="fa {{parentMenu.icon}}"></i>
                            {{parentMenu.headerTitle}}
                            <i class="pull-right fa"
                               [ngClass]="{'fa-chevron-down': itemStyled?.open, 'fa-chevron-right': !itemStyled || !itemStyled.open}"></i>
                        </div>
                        <div class="fuel-ui-accordion-body" routerLinkActive="router-link-active"
                             [routerLinkActiveOptions]="{exact: true}">
                            <a *ngFor="let menu of parentMenu.menuItem" routerLinkActive="router-link-active"
                               class="list-group-item" [routerLink]="menu.route">
                                <i class="fa fa-fw {{menu.icon}}"></i> {{menu.title}}
                            </a>
                        </div>
                    </div>
                </accordion>
            </div>
            <template [ngIf]="!parentMenu.headerTitle">
                <a *ngFor="let menu of parentMenu.menuItem" routerLinkActive="router-link-active"
                   class="list-group-item" [routerLink]="menu.route">
                    <i class="fa fa-fw {{menu.icon}}"></i> {{menu.title}}
                </a>
            </template>
        </template>


    </div>
</nav>
