<div class="row form-outer" fadeInDirective>
    <div class="col-lg-12 form-wrapper">
        <form role="form" novalidate [formGroup]="newsImageForm" (ngSubmit)="saveNewsImage()">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Image Title</label>
                    <input type="text" class="form-control" 
                           name="imageTitle"
                           placeholder="Enter Image Title"
                           formControlName="imageTitle">
                    <control-messages [isSubmitted]="isSubmitted"
                                      [control]="newsImageForm.controls['imageTitle']"></control-messages>

                </div>
                <div class="form-group">
                    <label>Image Alt Text</label>
                    <input type="text" class="form-control" 
                           name="imageAltText"
                           placeholder="Enter alternate text"
                           formControlName="imageAltText">
                    <control-messages
                            [control]="newsImageForm.controls['imageAltText']"></control-messages>

                </div>
                <div class="form-group">
                    <image-uploader [isSubmitted]="isSubmitted" [canvasSize]="canvasSize"
                                    [imageFormControl]="imageFormControl" (deleteImageEvent)="deleteImage($event)"
                                    [imageName]="fileName" [drawImagePath]="drawImagePath"
                                    [isSubmitted]="isSubmitted"
                                    allowDelete="true"
                                    (fileSelectedEvent)="changeFile($event)"></image-uploader>

                </div>
                <div class="form-group">

                    <label>
                        <mat-checkbox  formControlName="active">
                            Active
                        </mat-checkbox>
                    </label>
                </div>
                <button type="submit" class="btn btn-primary" processing><i class="fa fa-floppy-o"></i>  Save</button>
                            <button type="button" (click)="triggerCancelForm()" class="btn  btn-danger"><i class="fa fa-times"></i> Cancel
                </button>
            </div>
        </form>
    </div>
</div>

