<div class="footer">
    <p class="copyright">&copy; {{copyRightYear}} Nodebeats </p>

    <p class="credit">Original Template By : <a href="https://startbootstrap.com" target="_blank">Start Bootstrap</a></p>
</div>