<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            User Registration Form
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i> <a href="//admin">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-user"></i> User Registration
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->

<div class="row form-outer" fadeInDirective>
    <div class="col-lg-12 form-wrapper">
        <form role="form" novalidate [formGroup]="userForm" (ngSubmit)="saveUser()">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>First Name</label>
                    <input class="form-control" [(ngModel)]="objUser.firstName" name="firstName"
                           placeholder="Enter First Name" [formControl]="userForm.controls['firstName']">
                    <control-messages [isSubmitted]="isSubmitted"
                                      [control]="userForm.controls['firstName']"></control-messages>
                </div>
                <div class="form-group">
                    <label>Middle Name</label>
                    <input class="form-control" formControlName="middleName" [(ngModel)]="objUser.middleName"
                           name="middleName"
                           placeholder="Enter Middle Name">
                </div>
                <div class="form-group">
                    <label>Last Name</label>
                    <input class="form-control" [(ngModel)]="objUser.lastName" required name="lastName"
                           placeholder="Enter Last Name" [formControl]="userForm.controls['lastName']">
                    <control-messages [isSubmitted]="isSubmitted"
                                      [control]="userForm.controls['lastName']"></control-messages>

                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input class="form-control" type="email" [(ngModel)]="objUser.email" required
                           name="email" placeholder="email@example.com" [formControl]="userForm.controls['email']">
                    <control-messages [isSubmitted]="isSubmitted"
                                      [control]="userForm.controls['email']"></control-messages>

                </div>
                <div *ngIf="!userId" class="form-group">
                    <label>Password</label>
                    <input pPassword class="form-control" type="password" id="inputPassword"
                           [(ngModel)]="objUser.password"
                           name="password"
                           placeholder="Enter Password" [formControl]="userForm.controls['password']">
                    <control-messages [isSubmitted]="isSubmitted"
                                      [control]="userForm.controls['password']"></control-messages>
                </div>
                <div *ngIf="!userId" class="form-group">
                    <label>Confirm Password</label>
                    <input class="form-control" type="password"
                           placeholder="Renter Password" [formControl]="userForm.controls['confirmPassword']"
                           #confirmPassword="ngForm">
                    <control-messages [control]="userForm.controls['confirmPassword']"></control-messages>
                    <div class="error-msg" *ngIf="userForm.hasError('mismatchedPasswords')&& confirmPassword.dirty">
                        Passwords
                        do not match.
                    </div>

                </div>
                <div class="form-group">
                    <label>Phone Number</label>
                    <input class="form-control" [(ngModel)]="objUser.phoneNumber"
                           placeholder="Enter Phone Number" #phoneNumber='ngForm'
                           [formControl]="userForm.controls['phoneNumber']">
                    <div class="error-msg" *ngIf="phoneNumber.control.hasError('minlength')">Phone number need to be
                        atleast
                        7 digit
                    </div>

                </div>
                <div class="form-group">
                    <label>Mobile Number</label>
                    <input class="form-control" [(ngModel)]="objUser.mobileNumber"
                           placeholder="Enter Mobile Number" #mobileNumber='ngForm'
                           [formControl]="userForm.controls['mobileNumber']">
                    <div class="error-msg" *ngIf="mobileNumber.control.hasError('minlength')">Mobile number need to be
                        atleast 10 digit
                    </div>

                </div>
            </div>
            <div class="col-lg-6">
                <div *ngIf="!userId" class="form-group">
                    <label>Security Question</label>
                    <select role="listbox" title="select question" class="form-control"
                            [formControl]="userForm.controls['securityQuestion']"
                            [(ngModel)]="objUser.securityQuestion">
                        <option value="">Select Security Question</option>
                        <option *ngFor="let question of questionlist" [value]="question">{{question}}</option>
                    </select>
                    <control-messages [isSubmitted]="isSubmitted"
                                      [control]="userForm.controls['securityQuestion']"></control-messages>

                </div>
                <div *ngIf="!userId" class="form-group">
                    <label>Security Answer</label>
                    <input class="form-control" [(ngModel)]="objUser.securityAnswer"
                           placeholder="Enter Security Answer" [formControl]="userForm.controls['securityAnswer']">
                    <control-messages [isSubmitted]="isSubmitted"
                                      [control]="userForm.controls['securityAnswer']"></control-messages>

                </div>
                <div class="form-group">
                    <label>User Role</label>
                    <select role="listbox" title="select question" class="form-control" formControlName="userRole" [(ngModel)]="objUser.userRole">
                        <option value="admin">admin</option>
                    </select>

                </div>

                <div class="form-group">
                    <image-uploader [canvasSize]="canvasSize" [imageFormControl]="imageFormControl"
                                    (deleteImageEvent)="deleteImage($event)"
                                    [imageName]="objUser.imageName" [drawImagePath]="drawImagePath"
                                    [isSubmitted]="isSubmitted"
                                    (fileSelectedEvent)="changeFile($event)"></image-uploader>


                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-12">
                <button type="submit" class="btn btn-primary" processing>Save</button>
                <button type="button" (click)="triggerCancelForm()" class="btn  btn-danger">Cancel</button>
            </div>
        </form>
    </div>
</div>

