<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Image Gallery
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i> <a [routerLink]="['/admin']">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-picture-o"></i> Image Gallery
            </li>
        </ol>
    </div>
</div>
<image-gallery-album-list [hidden]="isImageList" [isCanceled]="isCanceled"
                            (showImageListEvent)="showImageList($event)"></image-gallery-album-list>
<image-gallery-image-list *ngIf="isImageList" [albumId]="albumId"
                            (showAlbumListEvent)="showAlbumList($event)"></image-gallery-image-list>
